@import "../../styles/variables.scss";

.header {
  display: flex;
  background: $primary;
  .header-left {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 16px;
    h1 {
      color: $white;
      font-size: $large;
      font-family: $fontFamily;
      padding-left: 10px;
    }
  }
}
